<!DOCTYPE html>
<html>
<head>
  <title>Toodoo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<% if flash.key?(:notice) %>
  <div class='alert alert-info'>
    <%= flash[:notice] %>
  </div>
<% end %>

<div class='container'>
  <img src="http://placekitten.com/51/50" class='img-circle'>

  <% if @current_user %>
    <small class='label label-success'>Hello, <%= @current_user.username %></small>
    <%= link_to "Sign out", "/sign-out", class: "btn btn-danger btn-xs" %>
  <% else %>
    <%= form_tag "/sign-in", class: "pull-right" do %>
      Username
      <%= text_field_tag :username %>
      Password
      <%= password_field_tag :password %>

      <%= submit_tag "Sign in" %>
    <% end %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
