<h1>I'm Bookis</h1>

<!-- <a href="/">Go Home</a> -->
<!-- <img src="/assets/me.jpg" /> -->
<%= render "bio" %>

<%= link_to "Go Home", "/", class: "home link link-big" %>

<p><%= money(300) %></p>
<p><%= money(1310) %></p>
<p><%= money(50) %></p>
