<% if @greeting_class == "home" %>
  <h3>I'm happening</h3>
  <%= "hello " * 4 %>
<% end %>

<% [1,2,3,4].each do |n| %>
  <h3>
    Roll <%= n %> is:
    <%= (1..6).to_a.sample %>
  </h3>
<% end %>


<h1 class='greeting <%= @greeting_class %>'>Hello World</h1>
<p>The time is <%= Time.now.strftime("%I:%M:%S %p") %></p>

<ul class='students'>

  <% @students.shuffle.each do |name| %>
    <li><%= name.upcase %></li>
  <% end %>

</ul>

<!-- <a href="/about-me" class="big-link">About me</a> -->
<%= link_to("About me", "/about-me", id: "someid", class: "big-link") %>

def link_to(name, path, hash_options)

end


<%= render "bio" %>
