<h1>Too Doo</h1>

<ul>
  <% @tasks.each do |t| %>
    <li>
      <!-- <a href="/tasks/2">Eat Lunch</a> -->
      <%= link_to t.name, show_a_task_path(t.id) %>
      <form action="/tasks/<%= t.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <input type="hidden" name="_method" value="PATCH">
        <input type="text" name="task_name" value="<%= t.name %>">
        <input type='submit' value="Update">
      </form>
      <form action="/tasks/<%= t.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <input type="hidden" name="_method" value="DELETE">
        <input type='submit' value="x">
      </form>
    </li>
  <% end %>
</ul>

<% if @task %>
  <ul>
    <% @task.errors.each do |c, msg| %>
      <li><%= c %> <%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h2>Sign Up</h2>
<form action="/users" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <div>
    <h4>Username</h4>
    <input type='text' name="user[username]" />
  </div>
  <input type='submit' />
</form>

<%= form_for User.last, url: "" do |f| %>
<% end %>
<h2>Create a Task</h2>
<form action="/tasks" method="POST">
  <input type="hidden" name="_method" value="PATCH" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <div>
    <h4>
      <label for="name-input">Task</label>
    </h4>
    <input type="text" id="name-input" name="task[name]" />
    <!-- <input type="text" id="name-input" name="task_name" /> -->
  </div>
  <div>
    <input type="hidden" value="false" name="task[complete]"/>
    <input type="checkbox" id="complete-checkbox" name="task[complete]"/>
    <label for="complete-checkbox">Complete?</label>
  </div>
  <input type="submit" />
</form>
