<!DOCTYPE html>
<html>
<head>
  <title><%= @user %>' steps to Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @bg %>
  <!-- @bg = "bg bg-opaque" -->
  <!-- @bg = "bg" -->
  <div class="<%= @bg %>"></div>
<% end %>

<div class='greeting <%= @greeting_class %>'>
  I'm <%= @user %>
</div>

<%= yield %>

<div>
  I'm a footer
</div>
</body>
</html>
