<!DOCTYPE html>
<html>
<head>
  <title><%= @user %>' steps to Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="<%= @greeting_class %>">
  I'm <%= @user %>
</div>

<%= yield %>

<div>
  I'm a footer
</div>
</body>
</html>
